.about-us {
  position: relative;
  display: grid;
  grid-template-columns: 40% 1fr;
  height: 100%;
}

.about-us--image-wrapper {
  position: relative;
  height: 100%;
}

.about-us--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
}

.about-us--wrapper {
  padding: 100px 80px;
  text-align: left;
}

.about-us--text-wrapper {
  display: block;
}

.about-us--text {
  font-size: 1rem;
  margin-bottom: 16px;
  &:first-child {
    font-style: italic;
  }
}

.about-us--inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  width: 100%;
}

.about-us--item {
  border-radius: 6px;
  box-shadow: 0 1px 7px #0000001a, 0 4px 5px -1px #0000001f,
    0 10px 15px -5px #0003;
  height: auto;
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
    outline: 2px solid white;
  }
  & a {
    display: inline-block;
    height: 100%;
    width: 100%;
    &:focus-visible {
      border: 3px solid white !important;
      outline-offset: 3px;
    }
  }
}

.about-us--item-image {
  width: 100%;
}
