.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: black;
  padding: 80px;
  width: 100vw;

  .footer--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer--logo {
    fill: white;
    height: 40px;
    max-width: 108px;
    width: auto;
  }

  .footer--list {
    display: flex;
    gap: 24px;
  }

  .footer--item {
  }

  .footer--item-link img {
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }

  .footer--line {
    width: 100%;
    height: 1px;
    background: white;
  }

  .footer--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer--text {
    font-size: 1rem;
  }

  .footer--wrapper {
    display: flex;
    gap: 32px;
  }

  .footer--link {
    font-size: 1.125rem;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
