.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-items: stretch;
  align-items: center;
  height: 88px;
  transition: 0.4s;
  background: linear-gradient(180deg, #00000000 0%, #00000000 100%);
  z-index: 100;

  .header--burger {
    display: none;
    height: 24px;
    width: 24px;
    background-color: transparent;
  }

  .header--burger-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .header--burger-line {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      $bg-gradient-start 0%,
      $bg-gradient-end 100%
    );
    opacity: 0;
    z-index: -1;
    transition: opacity 0.4s;
  }

  .header--nav {
    position: relative;
    padding: 16px 60px 16px 80px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: column;
    align-items: center;
    height: 100%;
    width: 100vw;
    gap: 8px;
  }

  .header--logo {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 40px;
    fill: white;
    border-radius: 8px;
    transition: fill 0.2s;
    &:hover {
      fill: $hover-color;
    }
    &:active {
      fill: $active-color;
    }
  }

  .header--logo-icon {
    max-width: 108px;
    height: 40px;
  }

  .header--list {
    justify-self: end;
    justify-content: end;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header--item {
    color: white;
    white-space: nowrap;
  }

  .header--link {
    font-size: 1.125rem;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
    &:hover {
      background-color: $hover-color;
    }
    &:active {
      color: $active-color;
    }
  }

  .header--button {
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .header--button-icon {
    height: 28px;
    width: 28px;
    fill: white;
    transition: fill 0.2s;
    &:hover {
      fill: $hover-color;
    }
    &:active {
      fill: $active-color;
    }
  }
}

.scrolled {
  &::before {
    opacity: 1;
  }
}
