.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 16px 60px 16px 80px;
  transition: 0.4s;
  background: linear-gradient(180deg, #00000000 0%, #00000000 100%);
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      $bg-gradient-start 0%,
      $bg-gradient-end 100%
    );
    opacity: 0;
    z-index: -1;
    transition: opacity 0.4s;
  }

  .header--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .header--logo {
    height: 100%;
    padding: 8px 0;
    fill: white;
    border-radius: 8px;
    transition: fill 0.2s;
    &:hover {
      fill: $hover-color;
    }
    &:active {
      fill: $active-color;
    }
  }

  .header--logo-icon {
    height: 100%;
    max-width: 108px;
  }

  .header--list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header--item {
    color: white;
  }

  .header--link {
    font-size: 1.125rem;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
    &:hover {
      background-color: $hover-color;
    }
    &:active {
      color: $active-color;
    }
  }

  .header--button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .header--button-icon {
    height: 28px;
    width: 28px;
    fill: white;
    transition: fill 0.2s;
    &:hover {
      fill: $hover-color;
    }
    &:active {
      fill: $active-color;
    }
  }
}

.scrolled {
  &::before {
    opacity: 1;
  }
}
