.possibilities {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 50%;
  justify-content: center;
  background: radial-gradient(
    76.37% 50% at 50% 50%,
    #419544 28.89%,
    #276829 100%
  );
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;

  .possibilities--wrapper {
    display: flex;
    flex-direction: column;
    align-self: start;
    align-items: start;
    padding: 100px 80px;
    height: 100%;
    width: 100%;
  }

  .possibilities--title {
    text-align: left;
    word-break: break-word;
  }

  .possibilities--subtitle {
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 20px;
  }

  .possibilities--text {
    font-size: 1rem;
    margin-bottom: 16px;
  }

  .possibilities--list {
    display: flex;
    width: 100%;
    padding-bottom: 32px;
  }

  .possibilities--item {
    width: 100%;
  }

  .possibilities--link {
    width: 100%;
  }

  .possibilities--icon {
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }

  .possibilities--form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .possibilities--label {
    background-color: white;
    border-radius: 6px;
    width: 100%;
  }

  .possibilities--input {
    padding-left: 25px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    color: black;
    border-radius: 6px;
  }

  .possibilities--submit {
    margin-top: 16px;
    padding: 15px 21px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 1.125rem;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    &:hover {
      background: white;
      color: black;
    }
    &:active {
      background-color: $active-color;
      border-color: $active-color;
    }
  }

  .possibilities--images-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }

  .possibilities--image-man {
    width: 30%;
    height: auto;
  }

  .possibilities--peoples-wrapper {
    width: 68%;
  }

  .possibilities--image-peoples {
    position: relative;
    top: 0;
    left: 150%;
    width: 100%;
    height: auto;
  }

  .possibilities--animated {
    animation-name: surfacing-x;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
