@keyframes blinking {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 0.8;
  }
  14% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  32% {
    opacity: 0.8;
  }
  34% {
    opacity: 1;
  }
  36% {
    opacity: 0.8;
  }
  38% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  52% {
    opacity: 0.8;
  }
  54% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  62% {
    opacity: 0.8;
  }
  64% {
    opacity: 1;
  }
  72% {
    opacity: 1;
  }
  74% {
    opacity: 0.8;
  }
  76% {
    opacity: 1;
  }
  92% {
    opacity: 1;
  }
  94% {
    opacity: 0.8;
  }
  96% {
    opacity: 1;
  }
  98% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
