html {
  font-size: 16px;
}

body {
  font-family: "Inter";
  overflow-x: hidden;
  background: url(../images/homepage/sparkle-bg.png);
  background-attachment: fixed;
  background-color: #181c23;
}

.container {
  width: 100vw;
  padding: 0 calc((100vw - $container) / 2);
}

* {
  color: $neutral-100;
  &:focus-visible {
    outline: 3px solid white !important;
    outline-offset: 3px;
  }
}

a,
button {
  border-radius: 6px;
}

.bg-header {
  width: 100%;
  height: 88px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.64) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: #20242b;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.25s;
}

.supertitle {
  font-size: 16px;
  font-style: italic;
  text-transform: none;
  margin-bottom: 5px;
}

.title {
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
}
