@charset "UTF-8";
html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  width: 100vw;
  font-family: "Inter";
  background: url(../images/homepage/sparkle-bg.png);
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: #181c23;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  padding: 0 calc((100vw - 1400px) / 2);
}

* {
  color: #e7eaee;
}
*:focus-visible {
  outline: 3px solid white !important;
  outline-offset: 3px;
}

a,
button {
  border-radius: 6px;
  transition: background-color 0.05s;
}
a:active,
button:active {
  background-color: #fff !important;
  color: black;
}

.bg-header {
  width: 100vw;
  height: 88px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: #20242b;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.25s;
}

.supertitle {
  font-size: 16px;
  font-style: italic;
  text-transform: none;
  margin-bottom: 5px;
}

.title {
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 0.8;
  }
  14% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  32% {
    opacity: 0.8;
  }
  34% {
    opacity: 1;
  }
  36% {
    opacity: 0.8;
  }
  38% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  52% {
    opacity: 0.8;
  }
  54% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  62% {
    opacity: 0.8;
  }
  64% {
    opacity: 1;
  }
  72% {
    opacity: 1;
  }
  74% {
    opacity: 0.8;
  }
  76% {
    opacity: 1;
  }
  92% {
    opacity: 1;
  }
  94% {
    opacity: 0.8;
  }
  96% {
    opacity: 1;
  }
  98% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes question-hidden {
  0% {
    height: auto;
    color: white;
  }
  50% {
    color: transparent;
  }
  100% {
    height: 0;
  }
}
@keyframes question-active {
  0% {
    height: 0;
    color: transparent;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
    color: white;
    padding: 0;
  }
}
@keyframes surfacing-y {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes surfacing-x {
  0% {
    left: 150%;
  }
  100% {
    left: 0;
  }
}
@keyframes cookie-hidden {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -100%;
  }
}
@keyframes cookie-active {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-items: stretch;
  align-items: center;
  height: 88px;
  transition: 0.4s;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 100;
}
.header .header--burger {
  display: none;
  height: 24px;
  width: 24px;
  background-color: transparent;
}
.header .header--burger-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.header .header--burger-line {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #14161d 0%, #1a1f26 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s;
}
.header .header--nav {
  position: relative;
  padding: 16px 60px 16px 80px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  gap: 8px;
}
.header .header--logo {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 40px;
  fill: white;
  border-radius: 8px;
  transition: fill 0.2s;
}
.header .header--logo:hover {
  fill: #404560;
}
.header .header--logo:active {
  fill: #ff7efa;
}
.header .header--logo-icon {
  max-width: 108px;
  height: 40px;
}
.header .header--list {
  justify-self: end;
  justify-content: end;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .header--item {
  color: white;
  white-space: nowrap;
}
.header .header--link {
  font-size: 1.125rem;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}
.header .header--link:hover {
  background-color: #404560;
}
.header .header--link:active {
  color: #ff7efa;
}
.header .header--button {
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.header .header--button-icon {
  height: 28px;
  width: 28px;
  fill: white;
  transition: fill 0.2s;
}
.header .header--button-icon:hover {
  fill: #404560;
}
.header .header--button-icon:active {
  fill: #ff7efa;
}

.scrolled::before {
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: black;
  padding: 80px;
  width: 100vw;
}
.footer .footer--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer--logo {
  fill: white;
  height: 40px;
  max-width: 108px;
  width: auto;
}
.footer .footer--list {
  display: flex;
  gap: 24px;
}
.footer .footer--item-link img {
  transition: transform 0.2s;
}
.footer .footer--item-link img:hover {
  transform: scale(1.2);
}
.footer .footer--line {
  width: 100%;
  height: 1px;
  background: white;
}
.footer .footer--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer--text {
  font-size: 1rem;
}
.footer .footer--wrapper {
  display: flex;
  gap: 32px;
}
.footer .footer--link {
  font-size: 1.125rem;
  transition: transform 0.2s;
}
.footer .footer--link:hover {
  transform: scale(1.1);
}

.hero {
  display: grid;
}
.hero .hero--wrapper {
  width: 100vw;
  padding: 12px 80px;
  background: #000;
  background: linear-gradient(90deg, #000000 0%, #0d242f 40%, #0d242f 60%, #000000 100%);
}
.hero .hero--link {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  gap: 15px;
}
.hero .hero--title {
  animation: blinking 5.5s infinite;
}
.hero .hero--title span {
  color: #ff7efa;
  font-family: Tilt Neon, Comic Sans, sans-serif;
  font-size: 1.625rem;
  text-shadow: 0 0 7px #d13acc;
  white-space: nowrap;
}
.hero .hero--title:first-child {
  justify-self: end;
  animation-duration: 7.5s;
}
.hero .hero--title:last-child {
  justify-self: start;
}
.hero .hero--image {
  width: 100%;
  max-width: 290px;
  animation: blinking 6.5s infinite;
  min-width: 200px;
}
.hero .slider {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0 0 70px 6vw;
  margin-top: 30px;
}
.hero .slider .slider--wrapper {
  position: relative;
  top: 0;
  left: 0%;
  display: flex;
  height: 100%;
  transition: 0.6s;
  gap: 20px;
}
.hero .slider .slider--item {
  position: relative;
  scroll-snap-align: center;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 16px;
  width: 88vw;
  height: 100%;
  aspect-ratio: 2.2;
}
.hero .slider .slider--item-filter {
  display: grid;
  justify-content: start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 26.97%, rgba(0, 0, 0, 0.12) 45.55%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}
.hero .slider .slider--item-background {
  width: 100%;
  z-index: 2;
}
.hero .slider .slider--item-background-image {
  display: none;
}
.hero .slider .slider--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  aspect-ratio: 2.2;
  z-index: 2;
}
.hero .slider .slider--button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 35px;
  width: 35px;
  background-color: rgba(247, 248, 249, 0.3843137255);
  cursor: pointer;
  transition: 0.2s;
}
.hero .slider .slider--button:hover {
  transform: scale(1.1);
}
.hero .slider .slider--button:disabled {
  opacity: 0.2;
  cursor: default;
}
.hero .slider .slider--button:first-child .slider--icon {
  transform: rotate(180deg);
}
.hero .slider .slider--icon {
  height: 32px;
  fill: white;
}
.hero .slider .slider--points-wrapper {
  display: flex;
  gap: 10px;
}
.hero .slider .slider--point {
  height: 15px;
  width: 15px;
  background-color: #71768e;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.hero .slider .slider--point-active {
  background-color: #b2bbff;
  filter: drop-shadow(0px 0px 7.452px #b2bbff);
}
.hero .slider .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
  width: 100%;
  max-width: 320px;
  height: 100%;
  font-size: 0.75rem;
  z-index: 10;
}
.hero .slider .content--logo {
  width: 100%;
}
.hero .slider .content--text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hero .slider .cursive {
  font-style: oblique;
}
.hero .slider .content--button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(90deg, #fad000 0%, #fff478 100%);
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 16px 22px;
}
.hero .slider .content--button b {
  color: black;
  font-size: 1rem;
  transition: 0.2s;
}
.hero .slider .content--button:hover b {
  color: rgb(194, 193, 193);
}
.hero .slider .content--button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .slider .content--button-icon {
  height: 18px;
  width: 28px;
}
.hero .slider .video-content--link {
  display: flex;
  justify-content: center;
  transition: transform 0.2s;
}
.hero .slider .video-content--link:hover {
  transform: scale(1.05);
}
.hero .slider .video-content--Logo {
  width: 60%;
  margin: auto;
}
.hero .slider .video-content--button {
  background: linear-gradient(180deg, #c4cbff 0%, #8f9cff 100%);
  justify-content: center;
}
.hero .slider .content--link-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}
.hero .slider .content--item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.hero .slider .content--link {
  height: 28px;
  width: 28px;
  transition: transform 0.2s;
}
.hero .slider .content--link:hover {
  transform: scale(1.2);
}
.hero .slider .content--icon {
  height: 100%;
  width: 100%;
}

.about-us {
  position: relative;
  display: grid;
  grid-template-columns: 40% 1fr;
  height: 100%;
}

.about-us--image-wrapper {
  position: relative;
  height: 100%;
}

.about-us--image {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 600px;
  z-index: -1;
}

.about-us--animated {
  animation-name: surfacing-y;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.about-us--wrapper {
  padding: 100px 80px;
  text-align: left;
}

.about-us--text-wrapper {
  display: block;
}

.about-us--text {
  font-size: 1rem;
  margin-bottom: 16px;
}
.about-us--text:first-child {
  font-style: italic;
}

.about-us--inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  width: 100%;
}

.about-us--item {
  border-radius: 6px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1019607843), 0 4px 5px -1px rgba(0, 0, 0, 0.1215686275), 0 10px 15px -5px rgba(0, 0, 0, 0.2);
  height: auto;
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s;
}
.about-us--item:hover {
  transform: scale(1.05);
  outline: 2px solid white;
}
.about-us--item a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.about-us--item a:focus-visible {
  border: 3px solid white !important;
  outline-offset: 3px;
}

.about-us--item-image {
  width: 100%;
}

.events {
  position: relative;
  z-index: 10;
}
.events .events--wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 100px 80px;
  height: 100%;
}
.events .events--list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.events .event--item-link {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.events .event--item {
  width: 100%;
}
.events .event--item-image {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 1.78;
  transition: transform 0.2s;
}
.events .event--item-image:hover {
  transform: scale(1.05);
  outline: 2px solid white;
}
.events .event--button {
  padding: 15px 21px;
  border-radius: 6px;
  outline: 2px solid white;
  background-color: transparent;
  font-size: 1rem;
  margin-top: 20px;
  transition: transform 0.2s;
}
.events .event--button:hover {
  transform: scale(1.05);
}

.shop {
  position: relative;
}
.shop .shop--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
  height: 100%;
}
.shop .shop--text {
  max-width: 760px;
  font-size: 1rem;
  text-align: center;
}
.shop .shop--list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 50px;
  max-width: 1280px;
}
.shop .shop--item {
  width: 100%;
}
.shop .shop--item:last-child {
  grid-column: 3/4;
}
.shop .shop--link {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: transform 0.2s;
}
.shop .shop--link:hover {
  transform: scale(1.1);
}
.shop .shop--image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 156px;
}
.shop .shop--link-bottom {
  display: flex;
  justify-content: center;
  padding: 15px 21px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.125rem;
  max-width: 400px;
  width: 100%;
  line-height: 25px;
  border-radius: 6px;
  transition: transform 0.2s;
}
.shop .shop--link-bottom:hover {
  transform: scale(1.05);
}

.possibilities {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 50%;
  justify-content: center;
  background: radial-gradient(76.37% 50% at 50% 50%, #419544 28.89%, #276829 100%);
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.possibilities .possibilities--wrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: start;
  padding: 100px 80px;
  height: 100%;
  width: 100%;
}
.possibilities .possibilities--title {
  text-align: left;
  word-break: break-word;
}
.possibilities .possibilities--subtitle {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 20px;
}
.possibilities .possibilities--text {
  font-size: 1rem;
  margin-bottom: 16px;
}
.possibilities .possibilities--list {
  display: flex;
  width: 100%;
  padding-bottom: 32px;
}
.possibilities .possibilities--item {
  width: 100%;
}
.possibilities .possibilities--link {
  width: 100%;
}
.possibilities .possibilities--icon {
  transition: transform 0.2s;
}
.possibilities .possibilities--icon:hover {
  transform: scale(1.2);
}
.possibilities .possibilities--form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.possibilities .possibilities--label {
  background-color: white;
  border-radius: 6px;
  width: 100%;
}
.possibilities .possibilities--input {
  padding-left: 25px;
  height: 40px;
  width: 100%;
  background-color: transparent;
  color: black;
  border-radius: 6px;
}
.possibilities .possibilities--submit {
  margin-top: 16px;
  padding: 15px 21px;
  border: 2px solid white;
  background-color: transparent;
  font-size: 1.125rem;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}
.possibilities .possibilities--submit:hover {
  background: white;
  color: black;
}
.possibilities .possibilities--submit:active {
  background-color: #ff7efa;
  border-color: #ff7efa;
}
.possibilities .possibilities--images-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.possibilities .possibilities--image-man {
  width: 30%;
  height: auto;
}
.possibilities .possibilities--peoples-wrapper {
  width: 68%;
}
.possibilities .possibilities--image-peoples {
  position: relative;
  top: 0;
  left: 150%;
  width: 100%;
  height: auto;
}
.possibilities .possibilities--animated {
  animation-name: surfacing-x;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.questions {
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  grid-template-columns: auto 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
}
.questions .questions--image {
  padding: 0 80px;
}
.questions .questions--wrapper {
  padding: 0 80px;
  max-width: 750px;
  justify-self: end;
}
.questions .questions--supertitle {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 5px;
}
.questions .questions--subtitle {
  font-family: Inter;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 18px;
}
.questions .questions--button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 24px 16px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--tinted-neutral-500, #64748b);
  background: var(--surface-50, #3a3c43);
  transition: background-color 0.2s;
}
.questions .questions--button:hover {
  background-color: #2e3138;
}
.questions .questions--button .questions--button-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.questions .questions--button-icon {
  height: 16px;
  width: 16px;
  transition: transform 0.3s;
}
.questions .questions--button-icon img {
  height: 100%;
  width: 100%;
}
.questions .icon-rotate {
  transform: rotate(45deg);
}
.questions .questions--text {
  display: none;
  height: 0;
  color: transparent;
  margin-bottom: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.questions .questions--text-active {
  animation-name: question-active;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.questions .questions--text-hidden {
  animation-name: question-hidden;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: black;
  padding: 80px;
  width: 100vw;
}
.footer .footer--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer--logo {
  fill: white;
  height: 40px;
  max-width: 108px;
  width: auto;
}
.footer .footer--list {
  display: flex;
  gap: 24px;
}
.footer .footer--item-link img {
  transition: transform 0.2s;
}
.footer .footer--item-link img:hover {
  transform: scale(1.2);
}
.footer .footer--line {
  width: 100%;
  height: 1px;
  background: white;
}
.footer .footer--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer--text {
  font-size: 1rem;
}
.footer .footer--wrapper {
  display: flex;
  gap: 32px;
}
.footer .footer--link {
  font-size: 1.125rem;
  transition: transform 0.2s;
}
.footer .footer--link:hover {
  transform: scale(1.1);
}

.cookie {
  position: fixed;
  bottom: 0%;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  min-height: 75px;
  background-color: #191d23;
  width: 100vw;
  padding: 20px;
  z-index: 100;
  transition: 0.2s;
}
.cookie .cookie--text {
  color: white;
  font-size: 14px;
}
.cookie .cookie--text .cookie--link {
  font-weight: 700;
  transition: 0.2s;
}
.cookie .cookie--text .cookie--link:hover {
  color: #3f55fe;
}
.cookie .cookie--wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cookie .cookie--wrapper .cookie--button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323a46;
  white-space: nowrap;
  padding: 10px 26px;
  transition: background-color 0.2s;
}
.cookie .cookie--wrapper .cookie--button:hover {
  background-color: #3f55fe;
  outline: 2px solid white;
}

.cookie--active {
  animation-name: cookie-active;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.cookie--hidden {
  animation-name: cookie-hidden;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@media (hover: none) {
  *:hover {
    outline: solid 3px var(--primary-50);
    outline-offset: -1.5px;
    transform: scale(1.05);
  }
}
@media (max-width: 1350px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .questions .questions--wrapper {
    padding: 0px;
  }
}
@media (min-width: 961px) {
  .header .header--list-wrapper {
    display: block !important;
  }
}
@media (max-width: 960px) {
  html {
    scroll-padding-top: 60px;
  }
  .title {
    font-size: 32px;
  }
  .bg-header {
    height: 56px;
  }
  .header {
    height: 56px !important;
  }
  .header .header--burger {
    display: block !important;
  }
  .header .header--nav {
    padding: 8px 16px !important;
    height: 56px !important;
  }
  .header .header--inner {
    grid-column: 1/2;
  }
  .header .header--list-wrapper {
    display: none;
    position: absolute;
    left: 16px;
    padding: 20px 16px;
    background-color: #2e3138;
    min-width: 240px;
    top: 100%;
    z-index: 10;
    margin-top: 8px;
    border-radius: 0 8px 8px 8px;
  }
  .header .header--list-wrapper .header--list {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
  .header .header--list-wrapper .header--item {
    width: 100%;
  }
  .hero .hero--wrapper {
    padding: 12px 16px !important;
  }
  .hero .hero--wrapper .hero--title span {
    font-size: 1.25rem;
  }
  .hero .content {
    max-width: 200px !important;
  }
  .about-us .about-us--wrapper {
    padding: 20px !important;
    margin-top: 50px;
  }
  .events .events--wrapper {
    padding: 80px 44px !important;
  }
  .events .events--wrapper .events--title b {
    font-size: 2rem;
  }
  .events .events--wrapper .events--list .event--item:last-child {
    display: none;
  }
  .shop .shop--wrapper {
    padding: 100px 40px !important;
  }
  .shop .shop--wrapper .shop--list {
    gap: 4vw;
    padding-left: 0;
    padding-right: 0;
  }
  .possibilities {
    grid-template-columns: 1fr 60%;
    gap: 20px;
    padding-left: 16px !important;
    padding-right: 0px !important;
  }
  .possibilities .possibilities--wrapper {
    max-width: 602px;
    padding: 0px;
  }
  .questions {
    grid-template-columns: 1fr 2fr;
    gap: 5vw;
  }
  .questions .questions--image {
    padding: 0px;
    width: 100%;
    height: auto;
  }
  .footer .footer--top {
    flex-direction: column;
    gap: 15px;
  }
  .footer .footer--bottom {
    flex-direction: column;
    gap: 15px;
  }
  .footer .footer--bottom .footer--text {
    font-size: 12px;
  }
  .footer .footer--bottom .footer--wrapper .footer--link {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 28px;
    text-align: center;
  }
  .cookie {
    flex-direction: column;
    gap: 20px;
  }
  .cookie .cookie--wrapper {
    position: relative;
    flex-direction: column;
    width: 100%;
  }
  .cookie .cookie--wrapper::before {
    content: "";
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 15px;
  }
  .cookie .cookie--wrapper .cookie--button {
    width: 100%;
  }
  .hero {
    grid-template-rows: 1fr auto;
  }
  .hero .hero--wrapper {
    margin-top: 50px;
    grid-row: 2/3;
  }
  .hero .hero--wrapper .hero--link {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    gap: 5px;
  }
  .hero .hero--wrapper .hero--title {
    width: 100%;
    text-align: center;
  }
  .hero .slider .slider--item {
    aspect-ratio: 10/15 !important;
  }
  .hero .slider .slider--item-background-image {
    display: block !important;
  }
  .hero .slider .slider--item-background-video {
    display: none !important;
  }
  .hero .slider--item-filter {
    justify-content: space-around !important;
  }
  .hero .slider--item-filter .content {
    position: relative;
    bottom: 32px !important;
    max-width: 280px !important;
    width: 280px !important;
    margin: 0 !important;
    justify-content: end !important;
  }
  .about-us {
    grid-template-columns: 1fr !important;
    grid-template-rows: 300px 1fr !important;
    padding-top: 100px;
  }
  .about-us .about-us--image-wrapper {
    z-index: -1;
    grid-row: 1/2;
  }
  .about-us .about-us--wrapper {
    padding: 10px;
    background: #272a31;
    border-radius: 16px 16px 0 0;
    font-size: 16px;
    z-index: 1;
  }
  .about-us .about-us--wrapper .about-us--title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
  }
  .about-us .about-us--wrapper .about-us--title-wrapper .supertitle {
    margin-bottom: 0px;
  }
  .about-us .about-us--wrapper .about-us--title-wrapper .title b {
    font-size: 1.75rem !important;
  }
  .events .events--wrapper {
    padding: 80px 16px !important;
  }
  .events .events--wrapper .events--supertitle {
    text-align: center;
    width: 100%;
  }
  .events .events--wrapper .events--title {
    text-align: center;
  }
  .events .events--wrapper .events--list {
    flex-direction: column;
  }
  .events .events--wrapper .events--list .event--item:nth-child(3) {
    display: none;
  }
  .events .events--wrapper .events--list .event--item .event--item-link {
    padding: 10px;
    gap: 10px;
  }
  .events .events--wrapper .event--button {
    margin: 0 auto;
    margin-top: 30px;
  }
  .shop .shop--wrapper {
    position: relative;
    padding: 40px 15px !important;
  }
  .shop .shop--wrapper .shop--title {
    font-size: 28px;
    text-align: center;
  }
  .shop .shop--wrapper .shop--list-wrapper {
    position: relative;
    height: 150px;
    overflow-x: scroll;
    width: 100vw;
    margin: 15px 0;
    scrollbar-width: none;
  }
  .shop .shop--wrapper .shop--list-wrapper::-webkit-scrollbar {
    width: 0; /* ширина всей полосы прокрутки */
  }
  .shop .shop--wrapper .shop--list-wrapper .shop--list {
    position: absolute;
    top: 0;
    left: 250px;
    display: flex;
    gap: 20px;
    height: 100%;
    width: auto !important;
    padding: 15px 0;
  }
  .shop .shop--wrapper .shop--list-wrapper .shop--list .shop--item:last-child {
    margin-right: 20px;
  }
  .shop .shop--wrapper .shop--list-wrapper .shop--list .shop--item .shop--image {
    height: 120px;
    width: auto;
  }
  .possibilities {
    flex-direction: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 50px 20px !important;
  }
  .possibilities .possibilities--wrapper .possibilities--title {
    text-align: center;
  }
  .questions {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .questions .questions--iamge-wrapper {
    position: relative;
    height: 350px;
    width: 100%;
    overflow: hidden;
  }
  .questions .questions--iamge-wrapper .questions--image {
    position: absolute;
    top: 0;
    left: calc(50% - 125px);
    width: 250px;
  }
  .questions .questions--supertitle {
    text-align: center;
  }
  .footer {
    padding: 32px 16px;
  }
  .footer .footer--text {
    text-align: center;
  }
}
@media (max-width: 410px) {
  .hero .slider .content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero .slider .content--icon {
    height: 20px;
    width: 20px;
  }
  .about-us {
    padding-top: 140px;
  }
  .possibilities .possibilities--wrapper .possibilities--title {
    font-size: 28px;
  }
}/*# sourceMappingURL=style.css.map */